/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.mb-80{
    margin-bottom: 80px;
}
.mb-160{
    margin-bottom: 160px;
}

.title1{
    font:normal normal bold 48px/72px Source Han Sans TW;
    color:#650300;
    text-align: center;
}
.title2{
    font: normal normal bold 24px/36px Source Han Sans TW;
    color: #650300;
    text-align: center;
}
.title3{
    font: italic normal 900 48px/72px Roboto;
    color: #AA0601;
    text-align: center;
}
.container{
    align-content: center;
}
.contener1{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    align-self: center;
}
.container2{
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}
.container3{
    position: relative;
    z-index: 2;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    flex-wrap: wrap;
    width: 1296px;
}
.container4{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.item1{
    width: 306px;
    justify-content: center;
    align-items: center;
    margin: 12px;
}
.item1 p{
    width: 306px;
}
.item1 img{
    align-content: center;
}
.item2{
    margin-left: 12px;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.item3{
    width: 306px;
    margin-left: 12px;
    margin-right: 12px;
}
.index-back{
    position: absolute;
    z-index: 1;
    align-items: center;
    height: 608px;
}
.title4{
    font: normal normal medium 16px/24px Source Han Sans TW;
    color: black;
}
.text1{
    font: normal normal normal 14px/21px Source Han Sans TW;
    color: 707070;
}
ul{
    align-content: center;
}
.field{
    font: normal normal normal 16px/24px Source Han Sans TW;
    color: black;
}
.value{
    font: normal normal normal 16px/24px Source Han Sans TW;
    color: #000000;
    border: 1px solid black;
    width: 636px;
}
.contact{
    width: 636px;
    margin: 0 auto;
}
.btn{
    color :white;
    font: normal normal bold 16px/24px Source Han Sans TW;
    width: 416px;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: #AA0601;
    text-align: center;
    margin: 0 auto;
}